@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	@apply font-base;
}
body {
	@apply bg-[#f3f3f9] dark:bg-[#1a1d21] transition-colors text-[.8125rem];
}
::selection {
	@apply bg-primary text-white;
}
